@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Global reset to prevent default margin and padding. 
Setting box-sizing to control the size until border-box*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #0b1830;
  color: #d4e0ed;
  overflow-x: hidden;
}
span {
  font-weight: 700;
  color: #cecece;
  font-size: 1.5em;
  letter-spacing: 0.5px;
}
h2,
h5,
p {
  padding-bottom: 1.2em;
}
h3 {
  color: mediumorchid;
}
.profile-picture {
  width: 60%;
  border-radius: 20em;
  border: goldenrod solid 0.3rem;
}
ul {
  margin: 0;
  display: flex;
}
ul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
}
ul li a {
  color: darkcyan;
  display: block;
  position: relative;
  text-decoration: none;
  transition: 0.8s;
  padding: 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
/* make the links blurry */
ul:hover li a {
  transform: scale(1.2);
  opacity: 0.8;
  filter: blur(0.1rem);
}
ul li a:hover {
  transform: scale(1.3);
  opacity: 0.9;
  filter: blur(0);
  text-decoration: none;
  color: #fff;
}
ul li a:hover:before {
  transition: transform 0.6s;
  transform-origin: left;
  font-weight: 700;
  transform: scaleX(0);
}
/* container set rules */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
/* section-hero to set padding and margin of elements */
.section-hero {
  padding: 2em 0;
  margin: 0 auto;
}
/* hero because is call-to-action */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}
.hero-description {
  font-size: 1.5em;
  line-height: 1.6;
  margin: 2.4rem 0;
}
.heading-primary {
  letter-spacing: 0.1em;
  font-size: 3em;
}
.heading-primary span {
  font-weight: 700;
  letter-spacing: 0.5px;
  background: #f0ff1c;
  background: linear-gradient(to right, #f0ff1c 0%, #00ff00 32%, #9521cf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-link {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0.5em;
}
.section-resume {
  max-width: 130rem;
  padding: 3rem 3.2rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.5em 3.6em;
  align-items: center;
  font-size: 1.4em;
  line-height: 1.3;
}
/* id selector */
#menu-items {
  text-decoration: none;
  padding: 1.2rem 0;
  font-size: 1.2rem;
}
footer {
  display: flex;
  flex-direction: column;
  height: 6.2rem;
  align-items: center;
  justify-content: center;
  background-color: #0b2b30;
  margin-bottom: 1rem;
}
.img-stats {
  height: 15em;
  margin: 2rem;
}
.section-cta {
  padding: 4.8rem 0 12.8rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #001457 0%, #09a18f 100%);
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-text {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 2.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.3rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
.cta-form textarea {
  border: none;
  width: 100%;
  height: 15rem;
  padding: 1.3rem;
  font-size: 1.3rem;
  font-family: inherit;
  color: inherit;
  background-color: #fdf2e9;
  border-radius: 0.6em;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}
.btn--form {
  background-color: rgba(153, 0, 255, 0.533);
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: rgb(249, 241, 3);
  color: #555;
}
